body {
  background-color: rgb(234, 234, 234) !important;
  height: unset;
  padding-bottom: 100px;
}

/* NavBar */
.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    #182a73 0%,
    #4257ab 75%,
    #4b61b9 85%
  ) !important;
}

.react-calendar {
  width: 100%;
  border: 0;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    #182a73 0%,
    #4257ab 75%,
    #4b61b9 85%
  ) !important;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
